{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block content %}

<h1>Modifier mon mot de passe</h1>

{{ form(form) }}

<small><a href="{{ path ('account') }}">Back to home</a></small>

{% endblock %}